# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Julia package environments
Manifest.toml
Project.toml

# Ignore system files
.DS_Store
Thumbs.db

# Ignore results folder
results/

# Ignore any .log files
*.log

